body {
    height: 100%;  
}

p {
    color: black;
}

.masthead {
    color: white;
    background-color: #19C5FF;
    width: auto;
    height: 200px;
}

.content {
    font-family: 'Open Sans';
    color: white;
    background-color: white;
    width: auto;
    height: 700px;
}

.navigation {
    text-align: center;
    background-color: #19C5FF;
}

.navigation ul { 
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.navigation li {
	display: inline;
}

.navigation li a:hover {
    background-color: white;   
}

.navigation a {
    background-color: #ABABAB;
    font-family: 'Open Sans';
    color: #525252;
    padding: 7px 7px 0px 7px;
	text-decoration: none;
	font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#selected a {
    background-color: white;
}

#title {
    font-family: 'Open Sans';
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#links {
    text-align: center;
    padding-top: 20px;
}

#links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 5px;
}

#links a:hover {
    color: gray;
    text-decoration: none;
}

#copyright {
    text-align: center;
}

#categories {
    border-radius: 10px;
    width: 880px;
    margin: 0 auto;
    text-align: center;
    border-width: 5px;
    border-color: 	#DCD7D7;
    
}

.cat {
    display: inline-block;
    padding: 10px;
    margin: 15px;
    width:230px;
    height: 230px;
    border-style: solid;
    border-width: 4px;
    border-color: #BFBFBF;  
    border-radius: 20px;
}

#btnOpp {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 26px;
    color: black;
    font-family: 'Open Sans';
    background-color: #19C5FF;
    border-radius: 10px;
}

#btnOpp a {
    display: inline-block;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#btnOpp a:visited {
    
}

.footer {
    color: white;
    background-color: #19C5FF;
    width: auto;
    height: 100px;  
}

.change {
    background-color: #78DDFF;
}

.registration {
    background-color: #19C5FF;
}

.registration ul { 
    list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.registration li {
	display: inline;
}

.reg {
    width: 100px;
    height: 50px;
    float: right;
    margin: 0 auto;
    text-align: center
}

.reg a {
    background-color: #ABABAB;
    font-family: 'Open Sans';
    color: #525252;
    padding: 0px 7px 5px 7px;
	text-decoration: none;
	font-size: 17px;
    font-weight: bold;;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#login {
    margin: 0 auto;
    text-align: center;
}

.inline {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}