* {
    font: 'Open Sans', sans-serif;
}

.content {
    overflow: hidden;
    font-family: 'Open Sans';
    color: #525252;
    background-color: white;
    width: auto;
}

.center-title {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(50,50,50,0) 25%, rgba(183,183,183,0.57) 91%, rgba(183,183,183,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(25%,rgba(50,50,50,0)), color-stop(91%,rgba(183,183,183,0.57)), color-stop(100%,rgba(183,183,183,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(50,50,50,0) 25%,rgba(183,183,183,0.57) 91%,rgba(183,183,183,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(50,50,50,0) 25%,rgba(183,183,183,0.57) 91%,rgba(183,183,183,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(50,50,50,0) 25%,rgba(183,183,183,0.57) 91%,rgba(183,183,183,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(50,50,50,0) 25%,rgba(183,183,183,0.57) 91%,rgba(183,183,183,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6b7b7b7',GradientType=0 ); /* IE6-9 */
    color: #525252;
    margin-top: 0;
    height: 80px;
    padding-top: 35px;
    text-align: center;
    background-color: #E2E6E1; 
    box-shadow: 5px 5px 5px #999;
}

body {
    position: absolute;
    margin: 0 auto;
    min-width: 100%;
}

p {
    color: #525252;
}

.navigation {
    text-align: center;
    background-color: #ABABAB;
}

.navigation ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
}

.navigation li a:hover {
    background-color: #E2E6E1;
}

.navigation a {
    display: block;
    background-color: #ABABAB;
    font-family: 'Open Sans', sans-serif;
    color: #525252;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 140px;
}

#selected a {
    background-color: #E2E6E1;
}

#home-blanket {
    height: 100px;
    clear: both;
}

#admin-form {
    margin-top: 200px;
}

input {
    height: 20px;
    font-family: 'Open Sans';
    font-size: 15px;
    border-radius: 5px;
}

textarea {
    font-family: 'Open Sans';
    font-size: 15px;
    border-radius: 5px;
}

.log-reg a {
    height: 20px;
    border-radius: 70px;
    background-color: lightgrey;
    margin-left: 10px;
    min-width: 80px;
}

.submitBtn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans';
    background-color: #33D900;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

#go {
    margin-bottom: 20px;
    margin-top: 5px;
}

#results {
    color: red;
    clear: both;
    margin: 0 auto;
    text-align: left;
    width: 250px;
    margin-bottom: 50px;
}

.label-in {
    border-color: white;
    border-style: dashed;
    clear: both;
    margin: 0 auto;
    text-align: center;
    width: 450px;
    margin-bottom: 50px;
}

.error-message {
    padding: 5px;
    position: absolute;
    max-width: 250px;
    font-size: 80%;
    background-color: #ddd;
    color: black;
    display: none;
 }

.img-span {
    height: 5px;
    width: 5px;
    float: right;
}

#required {
    color: red;
    clear: both;
    margin: 0 auto;
    text-align: left;
    width: 450px;
    margin-bottom: 50px;
}
 
select {
    width: 220px;
}

select {
    width: 260px;
    height: 30px;
    font-family: 'Open Sans';
    font-size: 15px;
    border-radius: 5px;
}

.aligner {
    width: inherit;
    margin: 0 auto;
    text-align: center;  
}

.h3 {
    float: left;
    font-size: 18px;
    font-weight: bold;
}

.in {
    display: inline;
    float: right;
}

#reg-blanket {
    margin-bottom: 60px;
    clear: both;
}

th {
    background-color: #ff9639;
}

.td-cells {
    height: 140px;
    width: 200px;
    background-color: #ffe8d5;
    vertical-align: top;
}

.td-cells a {
    color: #525252;
    font-size: 16px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.err-img {
    background-size: cover;
    margin-left: 5px;
}

.listplz {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #464c54; 
    height: 525px;
    overflow: scroll;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.listitem {
    border-bottom: 1px black solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.actions {
    width: 100px;
}

.actions span {
    background-color:lightgrey;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin: 5px; 
    cursor: pointer;
}

.link {
    min-width: 65px;
}

.description {
    width: 30%;
}

.info {
    min-width: 200px;
}

.info-id {
    min-width: 20px;
}

.info-org-id {
    min-width: 110px;
}

* {
    font-family: 'Open Sans';
}

.nav-user {
    margin-left: 10px;
    color: #525252;
}

.name {
    width: 200px;
}

.addItem {
    background-color: lightgrey;
    cursor: pointer;
    padding: 7px; 
    border-radius: 15px;
}

.message {
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    background-color: orange;
}

.addItem a {
    color: #525252;
    text-decoration: none;
}

#data-tables {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
}